@import "./constants/Sass/_variables.scss";

.p-0 {
  padding: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.b-none {
  border: none !important;
}

.font-normal {
  font-size: $font-size !important;
}

.font-bigger {
  font-size: $font-size + 2 !important;
}

.font-smaller {
  font-size: $font-size - 2 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.m-0 {
  margin: auto !important;
}

.bg-primary {
  background: $primary-color !important;
  background-color: $primary-color !important;
  color: white !important;
}

.bg-secondary {
  background: $secondary-color !important;
  background-color: $secondary-color !important;
  color: white !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-info {
  color: $info-color !important;
}

.text-light {
  color: $light-color !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center !important;
}

.anchor-inherit {
  color: inherit !important;
  text-decoration: inherit !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.m {
  &-1,
  &y-1 {
    margin-top: $base-unit !important;
    margin-bottom: $base-unit !important;
  }

  &-1,
  &x-1 {
    margin-right: $base-unit !important;
    margin-left: $base-unit !important;
  }
}

.p-1 {
  padding: $base-unit !important;
}

i {
  border-radius: 50% !important;
  padding: $base-unit !important;
}

i.glyphicon-trash:hover {
  background-color: red !important;
}

.hover-shadow:hover {
  background-color: #f7f2f2 !important;
}
